:root {
  --clr-neutral-900: hsl(0, 0%, 98%);
  --clr-neutral-800: hsl(0, 0%, 85%);
  --clr-neutral-500: hsl(0, 0%, 41%);
  --clr-neutral-500-blur: hsla(0, 0%, 41%, 0.5);
  --clr-neutral-100: hsl(0, 0%, 8%);
  --clr-neutral-10: hsl(0, 0%, 4%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Epilogue', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  background-color: var(--clr-neutral-900);

  width: 100vw;
  overflow: hidden;
}

.main-container {
  height: 100vh;
  max-width: 144rem;

  margin: 0 auto;
  background-color: var(--clr-neutral-900);
}

/* HEADER */

.header {
  height: 10vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;

  margin: 0 auto 4.2rem;
  padding: 4rem;
  background-color: var(--clr-neutral-900);
}
.logo {
  padding-top: 0.5rem;
}
/* NAV CONTAINER */
.nav {
  width: 100%;
}

.menu__open-icon {
  display: none;
}

/* NAVIGATION */
.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* MENU */

.menu {
  display: flex;
  align-items: center;
  gap: 3.6rem;

  list-style: none;
}

.menu__dropdown-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  cursor: pointer;

  position: relative;
}

.menu-dropdown__name-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.menu-link,
.menu-dropdown {
  font-size: 1.45rem;
  font-weight: 500;
  color: var(--clr-neutral-500);
  transition: color 0.3s;
  cursor: pointer;
}

.menu-link:hover,
.menu__dropdown-box:hover .menu-dropdown {
  color: var(--clr-neutral-100);
}

.icon {
  stroke: var(--clr-neutral-500);
  transition: stroke 0.3s;
}

.menu__dropdown-box:hover .icon {
  stroke: var(--clr-neutral-100);
}

.menu-link {
  text-decoration: none;
}

/* DROPDOWN */

.dropdown-box {
  position: absolute;
  top: 3.6rem;
  right: 0;

  padding: 2.2rem;

  list-style: none;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 3rem 0.5rem var(--clr-neutral-800);
  background-color: var(--clr-neutral-900);
}

.dropdown__company {
  left: 0;
  right: auto;
}

.our {
  width: 6.8rem;
}

.dropdown-box > li:not(:last-child) {
  margin-bottom: 1.6rem;
}

.dropdown-items {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1.5rem;
}

/* BTN */

.btn {
  padding: 1.2rem 2rem;

  font-family: inherit;
  cursor: pointer;
  border-radius: 1.4rem;
  border: 0.2rem solid var(--clr-neutral-500);
  background-color: var(--clr-neutral-900);
  transition: border 0.3s;
}

.btn-link {
  color: var(--clr-neutral-500);
  transition: color 0.3s;
}
.btn:hover .btn-link {
  color: var(--clr-neutral-100);
}

.btn:hover {
  border: 0.2rem solid var(--clr-neutral-100);
}
/* ************************** */
/* MAIN */
/* ************************** */

.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
}

/* HERO */

.hero {
  display: grid;
  justify-content: end;
  margin-left: 2rem;
  margin-right: 3.5rem;
}

.title-box {
  align-self: end;
  justify-self: end;
  padding-bottom: 1rem;
}

h1 {
  max-width: 52rem;
  margin-bottom: 4.5rem;

  font-size: 7.9rem;
  color: var(--clr-neutral-10);
}

.title-desc {
  max-width: 48rem;
  margin-bottom: 5.2rem;

  font-size: 1.9rem;
  line-height: 2.8rem;
  color: var(--clr-neutral-500);
}

.btn-more {
  padding: 1.65rem 2.8rem;
  margin-bottom: 2rem;

  font-size: inherit;
  font-weight: inherit;
  color: var(--clr-neutral-900);
  background-color: var(--clr-neutral-10);
  border: 0.2rem solid var(--clr-neutral-10);
  transition: all 0.2s;
}

.btn-more:hover {
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-900);
}

.clients {
  align-self: end;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 4rem;

  margin-bottom: -1.2rem;
  list-style: none;
}

/* hero-img */

.hero-img__box {
  height: auto;
  justify-self: center;

  display: flex;

  margin-right: 2.5rem;
  max-width: 48rem;
}

.hero-img__img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* FUNCTIONALITY */

.hidden {
  display: none;
}
